html {
    scroll-behavior: auto !important;
    overflow-x: hidden;
    }
    a, .button{
      z-index:1200 !important;
     
    }
    a, .skill-pill{
    transition:all .5s linear;
    }
    .skill-pill{
    cursor:default;
    }
    .case-study-card-content .logo-embed svg g path{
    fill:#fff;
    }
    .cursor {
      display: inline-block;
      width: 3px;
      height: 50px;
      background-color: var(--base-color-brand--grey-medium);
      margin-left: 5px;
      position: relative;
      top: 0;
      left:-12px;
      transform: translateY(10%);
      animation: blink 0.9s infinite;
  }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
    /* When animation is set to 'none', ensure it stops */
  .cursor[style*="animation: none"] {
    animation: none !important;
  }
.navbar3_container.nav-wrapper{
    background:none !important;
    box-shadow:none !important;
  }
    .navbar3_component {
    position: -webkit-sticky;  /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;  /* Ensures the navbar stays above other content */
    width: 100%;  /* Ensure it takes the full width */
    background:none !important;
  }

  .navbar3_link{
      text-decoration: none;
      position: relative; /* Ensure it's in the stacking context */
      background-color: white; /* Light background */
  }
    
  /* Set up the parent button */
  .button, .navbar3_link {
    position: relative;
    overflow: hidden; /* Ensures label stays within button bounds */
  }
  
  /* Initial state of the label */
  .button-label {
    font-family:inherit !important;
    display: inline-block;
    transform: translateY(0); /* Start at the normal position inside the button */
    opacity: 1; /* Fully visible */
    visibility: visible; /* Ensure visibility on page load */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions for opacity and transform */
    animation: none; /* Ensure no animation by default */
    
  }
  
  /* Hover effect */
  @media (min-width: 769px) {
    .button:hover .button-label, .navbar3_link:hover .button-label {
      animation: slideUp 0.3s cubic-bezier(0.2, 0, 0.2, 1) forwards, slideInFromBelow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s forwards;
    }
  
    .button:not(:hover) .button-label, .navbar3_link:not(:hover) .button-label {
      animation: none; /* No animation when mouse is out */
      transform: translateY(0); /* Return to the original position */
      opacity: 1; /* Keep it visible */
    }
  }
  
  /* Keyframe animation for sliding up outside the top boundary */
  @keyframes slideUp {
    0% {
      transform: translateY(0); /* Start at original position */
      opacity: 1; /* Fully visible */
    }
    100% {
      transform: translateY(-160%); /* Move the label up outside the top boundary */
      opacity: 0; /* Fade out */
    }
  }
  
  /* Keyframe animation for coming up from below and fading in */
  @keyframes slideInFromBelow {
    0% {
      transform: translateY(160%); /* Start from below */
      opacity: 0; /* Start faded out */
    }
    100% {
      transform: translateY(0); /* End at the original position */
      opacity: 1; /* Fully visible */
    }
  }
    .w-slider-dot{
    transition: all .25s ease-out;
      border-radius:0 !important;
      border:0 !important;
      background-color: #5f7c6b !important;
      width:4px;
      height:10px;
      opacity:.5;
      border:3px solid var(--base-color-brand--slate-medium);
  }
    .w-slider-nav-invert > div {
      border:0 !important;
      height: 48px;
  }
  .w-slider-nav-invert > div.w-active {
      background-color: var(--base-color-brand--olive) !important;
      height: 48px;
      opacity:1;
      border:0 !important;
  }
    
 /* Trailing Cursor */
.custom-cursor {
  position: fixed;
  top: -12px;
  left: -8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.05s linear, width 0.2s ease, height 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1300; /* Ensure it's above the links */
}

.custom-cursor .cursor-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  backface-visibility: hidden;
  pointer-events: none; /* Ensures it doesn't block hover events */
  filter:invert(1);
}

/* Backface Cursor */
.custom-cursor-backface {
  position: fixed;
  top: -12px;
  left: -8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 900; /* Backface cursor sits below the front cursor */
  transition: transform 0.05s linear, width 0.2s ease, height 0.2s ease;
}

.custom-cursor-backface .cursor-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background:red;
  /*background: var(--base-color-brand--slate-dark) !important; /* Background color to contrast */
}



/* Cursor text */
.custom-cursor .cursor-text {
  font-size: 14px;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  padding:0;
  margin:10px 0;
  font-family: JetBrains Mono, sans-serif;
}

/* Scale effect */
.cursor-scale {
  width: 48px !important;
  height: 48px !important;
  top: -24px;
  left: -24px;
  background:transparent;
}

/* Focus effect */
.cursor-focus {
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
}

/* Cursor turns white */
.cursor-white {
  background-color: white;
}

/* Ensure cursor expands to fit text */
.cursor-text-visible {
  height: 24px; /* Fixed height to maintain shape */
  padding: 6px 12px;
  border-radius: 50px; /* Keeps rounded shape */
  font-size:12px !important;
  width:auto;
}

.cursor-text-visible .cursor-text {
  opacity: 1;
}

/* When no label is showing, enforce a perfect circle */
.cursor-no-label {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
  padding: 0 !important;
}

/* Tool icons */
/* Default colors */
.tool-base {
  fill: #7D7D7C !important;  /* Desaturated color */
}

.tool-secondary {
  fill: #FAFAF9 !important;  /* Desaturated color */
}

/* Set initial transition properties */
svg path{
  transition: fill .75s ease;  /* Transition for color change */
}

/* Define default fill colors for tool-base and tool-secondary */
.tool-base {
  fill: #7D7D7C;  /* Desaturated color */
}

.tool-secondary {
  fill: #FAFAF9;  /* Desaturated color */
}
.tooltip{
  left:10px;
  top:0;
}
.avatar{
  left:10px;
  top:10px;
  padding:4px 20px 4px 4px;
  width:auto !important;
  height:auto !important;
}

.no-cursor {
  cursor: none !important;
}

/* Prevent the cursor from reappearing due to child elements */
.no-cursor * {
  pointer-events: none;
}


body.force-hide-cursor {
  cursor: none !important;
}

.cursor-carat{
  visibility: hidden;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2)); /* Subtle drop shadow */
  left:-12px;
  top:-12px;
}
.cursor-avatar{
  visibility: hidden;
  display:none;
  width:40px;
  height:40px;
  border-radius:20px;
  margin-right:10px;
}